*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.poster{
   
    display: flex;
    background: rgba(229, 84, 115, 0.10);

}



.poster-left{
    padding-left: 120px;
}


.head-line{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 60px;
    font-weight: 700;
    padding-top: 120px;
    
}


.header-article{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding-top: 0px;
    padding-bottom: 32px;
    
}

.flower-1{
    width: 635px;
    height: 800px;
    padding-right: 45px;
    padding-top: 50px;
}

.button{
    padding: 15px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

/*body*/
body{
    background: #FFF;;
}


.flower-type{
    text-align: center;
}


.flower-type-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 90px;
}


.flower-type-article{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 333px 30px;
}


.flower-picks{
    display: flex;
    padding: 0px 130px;
    
}


.first-flower{
    width: 464px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 12px;
    
    
}


.second-flower{
    width: 464px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 12px;
    align-items: bottom;

}


.third-flower{
    width: 464px;
    height: 470px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 12px;
}

.first-flower-pick{
    padding-top: 70px;
    padding-left: 25px;
}


.second-flower-pick{   
    padding-top: 90px;
    padding-left: 20px;
}


.third-flower{   
    padding-top: 30px;
    padding-left: 25px;
}


.flower-name{
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 16px;
}


.first-flower-name{
    padding-left: 240px; 
    padding-right: 180px;  
}

.third-flower-name{
    padding-left: 200px; 
}


/*HotDeal*/
.deal{
    display: flex;
    padding: 0px 215px 0px 200px;
    margin-top: 120px;
    padding:50px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.pink{
    color: #E55473;
}

.deal-line{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 115px;
    padding-left: 180px;
}

.deal-article{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 12px;
    padding-left: 200px;

}


.deal-left{
    padding-top: 15px;
    padding-left: 300px;
}

.flower-2{
    width: 318px;
    height: 420px;
    padding: 50px 215px 50px 90px;
}

/*insta*/

.insta{
    text-align: center; 
}

.insta-head{
    padding-top: 155px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-article{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 330px 24px;
}

/*flower-box*/
.flower-box{
    padding-top: 24px ;
    display: flex;
    width: 342px;
    height: 396px;
}

.first-box{
    padding-left: 120px;
    padding-right: 10px;
}

.second-box{
    padding-right: 10px;
}

.third-box{
    padding-right: 10px;

}

.latest{
    margin: 100px 120px;
    background-image: url("Rectangle 9.png");
    width: 1240px;
    height: 449px;
    border-radius: 8px;
    text-align: center;
}

.latest-title{
    padding-top: 60px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}


.latest-article{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.latest-box{
    width: 550px;
    height: 45px;
    
}


.latest-box input{   
    border: none;   
    outline: none;
}

footer{
    margin-top: 64px;
    width: 1510px;
    height: 449px;
    background: #111010;
    text-align:center;
    justify-self: center;

}

.footer-head{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 105px;
}


.footer-article{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 324px;
}

.copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 64px;
}

/*my-part*/
.flower-bookey{
    padding-top: 50px;
    display: flex;
    
}

.flower-19{
    padding-left: 120px;
    padding-right: 10px;
}

.flower-16{
    padding-right: 10px;
}

.flower-20{
    padding-right: 10px;
}

.flower-21{
    padding-right: 120px;
}

.my-first-flower-name{
    padding-left:250px ;
}

.my-second-flower-name{
    padding-left: 250px;
}

.my-third-flower-name{
    padding-left: 220px;
}

.my-fourth-flower-name{
    padding-left: 190px;
}



